<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.hospital.dao.mapper.ChcOrderMasterMapper">
  <resultMap id="BaseResultMap" type="com.zheng.hospital.dao.model.ChcOrderMaster">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="reserve_id" jdbcType="VARCHAR" property="reserveId" />
    <result column="from_userid" jdbcType="INTEGER" property="fromUserid" />
    <result column="to_userid" jdbcType="INTEGER" property="toUserid" />
    <result column="condition_description" jdbcType="VARCHAR" property="conditionDescription" />
    <result column="diagnosis_opinion" jdbcType="VARCHAR" property="diagnosisOpinion" />
    <result column="attachment" jdbcType="VARCHAR" property="attachment" />
    <result column="signname" jdbcType="VARCHAR" property="signname" />
    <result column="orderAmt" jdbcType="DECIMAL" property="orderamt" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="pay_status" jdbcType="VARCHAR" property="payStatus" />
    <result column="next_id" jdbcType="VARCHAR" property="nextId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_id, reserve_id, from_userid, to_userid, condition_description, diagnosis_opinion, 
    attachment, signname, orderAmt, order_status, pay_status, next_id
  </sql>
  <select id="selectByExample" parameterType="com.zheng.hospital.dao.model.ChcOrderMasterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chc_order_master
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chc_order_master
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from chc_order_master
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zheng.hospital.dao.model.ChcOrderMasterExample">
    delete from chc_order_master
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zheng.hospital.dao.model.ChcOrderMaster">
    insert into chc_order_master (order_id, reserve_id, from_userid, 
      to_userid, condition_description, diagnosis_opinion, 
      attachment, signname, orderAmt, 
      order_status, pay_status, next_id
      )
    values (#{orderId,jdbcType=VARCHAR}, #{reserveId,jdbcType=VARCHAR}, #{fromUserid,jdbcType=INTEGER}, 
      #{toUserid,jdbcType=INTEGER}, #{conditionDescription,jdbcType=VARCHAR}, #{diagnosisOpinion,jdbcType=VARCHAR}, 
      #{attachment,jdbcType=VARCHAR}, #{signname,jdbcType=VARCHAR}, #{orderamt,jdbcType=DECIMAL}, 
      #{orderStatus,jdbcType=VARCHAR}, #{payStatus,jdbcType=VARCHAR}, #{nextId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zheng.hospital.dao.model.ChcOrderMaster">
    insert into chc_order_master
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="reserveId != null">
        reserve_id,
      </if>
      <if test="fromUserid != null">
        from_userid,
      </if>
      <if test="toUserid != null">
        to_userid,
      </if>
      <if test="conditionDescription != null">
        condition_description,
      </if>
      <if test="diagnosisOpinion != null">
        diagnosis_opinion,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
      <if test="signname != null">
        signname,
      </if>
      <if test="orderamt != null">
        orderAmt,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="nextId != null">
        next_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="reserveId != null">
        #{reserveId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserid != null">
        #{fromUserid,jdbcType=INTEGER},
      </if>
      <if test="toUserid != null">
        #{toUserid,jdbcType=INTEGER},
      </if>
      <if test="conditionDescription != null">
        #{conditionDescription,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisOpinion != null">
        #{diagnosisOpinion,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="signname != null">
        #{signname,jdbcType=VARCHAR},
      </if>
      <if test="orderamt != null">
        #{orderamt,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="nextId != null">
        #{nextId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zheng.hospital.dao.model.ChcOrderMasterExample" resultType="java.lang.Long">
    select count(*) from chc_order_master
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chc_order_master
    <set>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.reserveId != null">
        reserve_id = #{record.reserveId,jdbcType=VARCHAR},
      </if>
      <if test="record.fromUserid != null">
        from_userid = #{record.fromUserid,jdbcType=INTEGER},
      </if>
      <if test="record.toUserid != null">
        to_userid = #{record.toUserid,jdbcType=INTEGER},
      </if>
      <if test="record.conditionDescription != null">
        condition_description = #{record.conditionDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnosisOpinion != null">
        diagnosis_opinion = #{record.diagnosisOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.attachment != null">
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.signname != null">
        signname = #{record.signname,jdbcType=VARCHAR},
      </if>
      <if test="record.orderamt != null">
        orderAmt = #{record.orderamt,jdbcType=DECIMAL},
      </if>
      <if test="record.orderStatus != null">
        order_status = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.payStatus != null">
        pay_status = #{record.payStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.nextId != null">
        next_id = #{record.nextId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chc_order_master
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      reserve_id = #{record.reserveId,jdbcType=VARCHAR},
      from_userid = #{record.fromUserid,jdbcType=INTEGER},
      to_userid = #{record.toUserid,jdbcType=INTEGER},
      condition_description = #{record.conditionDescription,jdbcType=VARCHAR},
      diagnosis_opinion = #{record.diagnosisOpinion,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      signname = #{record.signname,jdbcType=VARCHAR},
      orderAmt = #{record.orderamt,jdbcType=DECIMAL},
      order_status = #{record.orderStatus,jdbcType=VARCHAR},
      pay_status = #{record.payStatus,jdbcType=VARCHAR},
      next_id = #{record.nextId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zheng.hospital.dao.model.ChcOrderMaster">
    update chc_order_master
    <set>
      <if test="reserveId != null">
        reserve_id = #{reserveId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserid != null">
        from_userid = #{fromUserid,jdbcType=INTEGER},
      </if>
      <if test="toUserid != null">
        to_userid = #{toUserid,jdbcType=INTEGER},
      </if>
      <if test="conditionDescription != null">
        condition_description = #{conditionDescription,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisOpinion != null">
        diagnosis_opinion = #{diagnosisOpinion,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="signname != null">
        signname = #{signname,jdbcType=VARCHAR},
      </if>
      <if test="orderamt != null">
        orderAmt = #{orderamt,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="nextId != null">
        next_id = #{nextId,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zheng.hospital.dao.model.ChcOrderMaster">
    update chc_order_master
    set reserve_id = #{reserveId,jdbcType=VARCHAR},
      from_userid = #{fromUserid,jdbcType=INTEGER},
      to_userid = #{toUserid,jdbcType=INTEGER},
      condition_description = #{conditionDescription,jdbcType=VARCHAR},
      diagnosis_opinion = #{diagnosisOpinion,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      signname = #{signname,jdbcType=VARCHAR},
      orderAmt = #{orderamt,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      next_id = #{nextId,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>