<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.hospital.dao.mapper.ChcReserveMapper">
  <resultMap id="BaseResultMap" type="com.zheng.hospital.dao.model.ChcReserve">
    <id column="reserve_id" jdbcType="VARCHAR" property="reserveId" />
    <result column="from_userid" jdbcType="INTEGER" property="fromUserid" />
    <result column="to_userid" jdbcType="INTEGER" property="toUserid" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="reserve_time" jdbcType="VARCHAR" property="reserveTime" />
    <result column="reserve_date" jdbcType="DATE" property="reserveDate" />
    <result column="reserve_address" jdbcType="VARCHAR" property="reserveAddress" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    reserve_id, from_userid, to_userid, doctor_id, create_time, status, reserve_time, 
    reserve_date, reserve_address, lat, lng
  </sql>
  <select id="selectByExample" parameterType="com.zheng.hospital.dao.model.ChcReserveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chc_reserve
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chc_reserve
    where reserve_id = #{reserveId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from chc_reserve
    where reserve_id = #{reserveId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zheng.hospital.dao.model.ChcReserveExample">
    delete from chc_reserve
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zheng.hospital.dao.model.ChcReserve">
    insert into chc_reserve (reserve_id, from_userid, to_userid, 
      doctor_id, create_time, status, 
      reserve_time, reserve_date, reserve_address, 
      lat, lng)
    values (#{reserveId,jdbcType=VARCHAR}, #{fromUserid,jdbcType=INTEGER}, #{toUserid,jdbcType=INTEGER}, 
      #{doctorId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{reserveTime,jdbcType=VARCHAR}, #{reserveDate,jdbcType=DATE}, #{reserveAddress,jdbcType=VARCHAR}, 
      #{lat,jdbcType=VARCHAR}, #{lng,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zheng.hospital.dao.model.ChcReserve">
    insert into chc_reserve
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reserveId != null">
        reserve_id,
      </if>
      <if test="fromUserid != null">
        from_userid,
      </if>
      <if test="toUserid != null">
        to_userid,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reserveTime != null">
        reserve_time,
      </if>
      <if test="reserveDate != null">
        reserve_date,
      </if>
      <if test="reserveAddress != null">
        reserve_address,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="lng != null">
        lng,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reserveId != null">
        #{reserveId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserid != null">
        #{fromUserid,jdbcType=INTEGER},
      </if>
      <if test="toUserid != null">
        #{toUserid,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="reserveTime != null">
        #{reserveTime,jdbcType=VARCHAR},
      </if>
      <if test="reserveDate != null">
        #{reserveDate,jdbcType=DATE},
      </if>
      <if test="reserveAddress != null">
        #{reserveAddress,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zheng.hospital.dao.model.ChcReserveExample" resultType="java.lang.Long">
    select count(*) from chc_reserve
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chc_reserve
    <set>
      <if test="record.reserveId != null">
        reserve_id = #{record.reserveId,jdbcType=VARCHAR},
      </if>
      <if test="record.fromUserid != null">
        from_userid = #{record.fromUserid,jdbcType=INTEGER},
      </if>
      <if test="record.toUserid != null">
        to_userid = #{record.toUserid,jdbcType=INTEGER},
      </if>
      <if test="record.doctorId != null">
        doctor_id = #{record.doctorId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.reserveTime != null">
        reserve_time = #{record.reserveTime,jdbcType=VARCHAR},
      </if>
      <if test="record.reserveDate != null">
        reserve_date = #{record.reserveDate,jdbcType=DATE},
      </if>
      <if test="record.reserveAddress != null">
        reserve_address = #{record.reserveAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat,jdbcType=VARCHAR},
      </if>
      <if test="record.lng != null">
        lng = #{record.lng,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chc_reserve
    set reserve_id = #{record.reserveId,jdbcType=VARCHAR},
      from_userid = #{record.fromUserid,jdbcType=INTEGER},
      to_userid = #{record.toUserid,jdbcType=INTEGER},
      doctor_id = #{record.doctorId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      reserve_time = #{record.reserveTime,jdbcType=VARCHAR},
      reserve_date = #{record.reserveDate,jdbcType=DATE},
      reserve_address = #{record.reserveAddress,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=VARCHAR},
      lng = #{record.lng,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zheng.hospital.dao.model.ChcReserve">
    update chc_reserve
    <set>
      <if test="fromUserid != null">
        from_userid = #{fromUserid,jdbcType=INTEGER},
      </if>
      <if test="toUserid != null">
        to_userid = #{toUserid,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="reserveTime != null">
        reserve_time = #{reserveTime,jdbcType=VARCHAR},
      </if>
      <if test="reserveDate != null">
        reserve_date = #{reserveDate,jdbcType=DATE},
      </if>
      <if test="reserveAddress != null">
        reserve_address = #{reserveAddress,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=VARCHAR},
      </if>
    </set>
    where reserve_id = #{reserveId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zheng.hospital.dao.model.ChcReserve">
    update chc_reserve
    set from_userid = #{fromUserid,jdbcType=INTEGER},
      to_userid = #{toUserid,jdbcType=INTEGER},
      doctor_id = #{doctorId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      reserve_time = #{reserveTime,jdbcType=VARCHAR},
      reserve_date = #{reserveDate,jdbcType=DATE},
      reserve_address = #{reserveAddress,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=VARCHAR}
    where reserve_id = #{reserveId,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>